<table>
  <tr>
    <td style="vertical-align: top;">
      <h1>
        <%= @me.spotify_id %>
      </h1>
        <% @my_artists.each do |artist| %>
          <p>
            <%= artist %>
          </p>
        <% end %>
    </td>

    <td style="vertical-align: top;">
      <h1>
        <%= @user.spotify_id %>
      </h1>

      <% @user_artists.each do |artist| %>
        <p>
          <%= artist %>
        </p>
      <% end %>
<hr><hr>
    <%= @match_percentage %>%

    </td>
  </tr>
</table>
