<h2>Welcome</h2>
  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
  <%= @user %>
    <%= form_tag root_path, method: "get" do %>
      <%= text_field_tag :q %>
      <%= submit_tag "Search Artist" %>
    <% end %>

    <% if @artists %>

      <%= @artists.map { |artist| artist.name }.join(', ') %>
      <% @artists.each do |artist| %>

      <h2>Artist Name</h2>
        <%= artist.name %>
      <h2>Artist Populairty #wrong?</h2>
        <%= artist.popularity %>
      <h2>Artist Genres</h2>
        <%= artist.genres %>
      <h2>Artist Images</h2>
        <% artist.images.each do |image| %>
        <img src="<%= image['url'] %>" alt="" />
      <h2>Artist Top Tracks</h2>
        <%= artist.top_tracks(:US) %>
      <h2>Artist Albums</h2>
        <%= artist.albums %>
    <% end %>
  <% end %>
<% end %>

    <!-- <%= @user %>
      <%= form_tag root_path, method: "get" do %>
      <%= text_field_tag :q %>
      <%= submit_tag "Search Albums" %>
    <% end %>

    <% if @albums %>

    <%= @albums.map { |album| album.name }.join(', ') %>
    <% @albums.each do |album| %>

    <h2>Artist Images</h2>
    <% album.images.each do |image| %>
    <img src="<%= image['url'] %>" alt="" />

    <% end %>
    <% end %>
    <% end %> -->
